# Ignore Backend Config directory
# .gitignore

#environment variables
Configs/.env
# Ignore node_modules and package-lock.json
node_modules/
package-lock.json
refVar.js
tests/
extensions.josn/
.vscode/
#ignore